<% include ../partials/head %>
<% include ../partials/navigation %>

<body class="events_new">
<main>
  <div class="headline">
    <div class="container">
      <div class="row" id="show">
        <div class=".col-md-6">

      <h3>Event Details</h3>
      <p><b>What: </b><%= myEvent.title %></p>
      <p><b>Where: </b><%= myEvent.location %></p>
      <p><b>When: </b><%= myEvent.date %></p>
      <p><b>Category: </b><%= myEvent.category %></p>
      <p><b>ID: </b><%= myEvent._id %></p>

      </div>
    </div>
   </div>
    <a href="/events" class="btn btn-primary">Back</a>
    <a href="/events/<%= myEvent._id %>/edit" class="btn btn-danger">Edit</a>
  </div>
</main>

<% include ../partials/footer %>
