<% include ./partials/head %>
<% include ./partials/message %>
<div class="profile">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand page-scroll" href="/">Best of the BeltLine</a>

              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <!-- <ul class="nav navbar-nav navbar-centre">
                  <li><span class="fa fa-user"></span> Profile Page</li>
                  </ul> -->
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                          <a class="page-scroll" href="/events">Events</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="/about">About</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#contact">Contact</a>
                      </li>
                      <% if (currentUser) { %>
                      <li>
                          <a class="page-scroll" href="/logout">Logout</a>
                      </li>
                      <% } %>
                  </ul>
              </div>
          </div>
      </nav>
<div class="container">
<!-- <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Profile Page</h1>
    </div> -->

    <div class="row">

        <% if (user.facebook.myname != undefined) { %>
        <!-- FACEBOOK INFORMATION -->

        <div class="col-sm-6 col-sm-offset-3">
            <div id="well">
            <h3> Currently you are logged in with Facebook</h3>
                <h3 class="text-primary"><span class="fa fa-facebook"></span>Facebook</h3>

                    <p>
                        <img src="<%= user.facebook.photo %>"/><br>
                        <strong>Name</strong>: <%= user.facebook.myname %><br>
                        <!-- <strong>Profile ID</strong>: <%= user.facebook.oauthID %><br> -->
                        <strong>Email</strong>: <%= user.facebook.email %><br>
                        <!-- <strong>name</strong>: <%= user.photo %> -->
                    </p>

            </div>
        </div>

    </div>
    <% }; %>
    <% if (user.twitter.username != undefined) { %>
    <!-- Twitter INFORMATION -->
       <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6 col-sm-offset-3">
            <div id="well">
            <h3> Currently you are logged in with Twitter</h3>
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                    <p>
                        <!-- <strong>ID</strong>: <%= user.twitter.oauthID %><br> -->
                        <strong>Username</strong>: <%= user.twitter.username %><br>
                        <strong>Full Name</strong>: <%= user.twitter.displayName %><br>
                    </p>

            </div>
        </div>
    </div>
    <% } %>
    <!-- Local User Info -->
    <% if (user.local.email != undefined) { %>
    <!-- Twitter INFORMATION -->
       <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6 col-sm-offset-3">
            <div id="well">
                <h3 class="text-info"><span class="fa fa-user"></span> Profile info</h3>

                    <p>
                        <strong>First Name</strong>: <%= user.local.firstName %><br>
                        <strong>Last Name</strong>: <%= user.local.lastName %><br>
                        <strong>Email</strong>: <%= user.local.email %><br>
                    </p>

            </div>
        </div>
    </div>
    <% } %>
    </div>
    </div>

    <div>
      <p style="text-align: center">&copy Steven, Ryan, Sorum, Javin</p>
    </div>
      <!-- jQuery -->
      <script src="js/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="js/bootstrap.min.js"></script>

      <!-- Plugin JavaScript -->
      <script src="js/jquery.easing.min.js"></script>
      <script src="js/jquery.fittext.js"></script>
      <script src="js/wow.min.js"></script>

      <!-- Custom Theme JavaScript -->
      <script src="js/creative.js"></script>

  </body>

</html>
